<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Hospitais</title>
	<meta name="description" content="Um Catálogo de Serviços utilizando dados abertos.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="shortcut icon" href="../img/48.png">

	<link rel="manifest" href="../manifest.json">

	<!-- Import Roboto -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="../img/192.png">
	<meta name="theme-color" content="#F44336">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Shopping">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="apple-touch-icon-precomposed" href="../img/144.png">

	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="../img/144.png">
	<meta name="msapplication-TileColor" content="#F44336">

	<script>
		if (window.location.protocol != "https:" && window.location.hostname == "sergiolimajr.github.io")
			window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
	</script>

</head>
<body>
	<header class="header">
		<div class="backArrow">
			<a href="../partials/saude.html"><i class="material-icons waves-effect waves-light waves-circle white-text">arrow_back</i></a>
		</div>

		<h5 class="header--title">Hospitais</h5>
		<div class="three-points">
			<i class="material-icons waves-effect waves-light
			waves-circle dropdown-trigger"
			data-target="submenu" data-constrainwidth="false">
			more_vert
		</i>

		<ul id="submenu" class="dropdown-content">
			<li><a class="black-text" href="../index.html">Home</a></li>
			<li><a class="black-text" href="../partials/servicos.html">Serviços</a></li>
		</ul>
	</div>
</header>

<div id="map"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhNpG5pN0Z21UgIxTCxhZNb67Dz5-QlTw&callback=initMap"
type="text/javascript"></script>
<script src="../js/vendor/jquery.min.js"></script>
<script src="../js/vendor/materialize.min.js"></script>
<script src="../js/distance.js"></script>
<script src="../js/main.js"></script>
<script src="../js/script.js"></script>

</body>
</html>